@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  text-decoration: none;

}

.title-name{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    font-weight: bold;
    font-size: 50px;
    font-family: cursive;
}

.title-name-product{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 19px;
    font-weight: bold;
    font-size: 50px;
    font-family: cursive;
    margin-top: 60px;
}



.wrapper{
    max-width: 990px;
    margin: auto;
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.wrapper .card-talents {
    position: relative;
    width: calc(27% - 9px);
    border-radius: 3px;
    background: #fff;
    overflow: hidden;
    margin-top: 10px;
}

.gradient{
    background: linear-gradient(90deg, rgb(255, 255, 255) 50%, rgb(95, 139, 209));;
}


.wrapper .card-talents img{
    width: 100%;
    border-radius: 3px;
    transition: all 0.3s ease;
}

.wrapper .card-talents:hover img{
    transform: scale(1.1);
}

.wrapper .card-talents .content-talents{
    position: absolute;
    width: 100%;
    background: #ffffff;
    bottom: -50%;
    padding: 1px 0px 10px 0px;
    box-shadow: 0px -3px 10px 0px rgba(0,0,0,0.15);
    transition: all 0.3s ease;
}

.wrapper .card-talents:hover .content-talents{
    bottom: 0;
}

.card-talents .content-talents .row-talents
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.content-talents .row-talents .detail-talents span{
    font-size: 22px;
    font-weight: 500;
}

.content-talents .row-talents .detail-talents p{
    color: #333;
    font-size: 12px;
    font-weight: 400;
}

.img-about img{
    animation: animate 3s linear infinite; 
}

@keyframes animate{
    0%{
        transform: translate(-11px, 0);
    }
    50%{
        transform: translate(-0px, -11px);
    }
    100%{
        transform: translate(-11px, 0);
    }
}

.container-product{
    width: 1080px;
    margin: auto;
    height: 0;
}

.pro_image .images_product img {
    height: 250px;
    width: 200px;

}

.shop-product img{
    width: 20px;
}


.product_row{
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
    justify-content: center;
    gap: 7px;
}

.review-product{
    margin-top: 3px;
}

.price-product{
    font-size: 14px;
}

.shop-product a {
    text-decoration: none;
    color: black;
}


.product-name {
margin-bottom: 10px !important;
display: flex;
font-size: 15px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
flex-wrap: wrap;
}

.content-product{
    background: rgb(252, 252, 252);
    padding: 20px 15px;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    width: 10rem;
}

.main_product{
    background: rgb(252, 252, 252);
}

.images_product:hover img{
    transform: scale(1.1);
    transition: 1x;
}

.pro_image{
    overflow: hidden;
  
}

center{
    margin: 40px 0;
    font-size: 30px;
    font-family: cursive;
}

.product-nav{
    position: relative;
    width: 1000px;
    min-width: 350px;
    min-height: 500px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-left:135px;
}

.product-img-nav{
    width: 40%;
    height: 500px;
    background: #fff;
    position: relative;
}

.product-img-nav img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    user-select: none;
}

.product-listing-nav{
    width: 60%;
    min-height: 500px;
    height: auto;
    background: rgb(252, 252, 252);
    padding: 40px;
    display: flex;
    justify-content: center;
    color: black;
    font-family: cursive;
}




.info-nav{
    font-size: 18px;
    line-height: 30px;
    text-align: justify;
    margin: 50px 0;
}


@media (max-width: 991px){
    .wrapper{
        padding: 0;
        display: flex;
    }

    .wrapper .card-talents .content-talents{
        position: relative;
        width: 100%;
        background: #ffffff;
        bottom: -50%;
        padding: 10px 20px 22px 20px;
        box-shadow: 0px -3px 10px 0px rgba(0,0,0,0.15);
        transition: all 0.3s ease;
    }
 
    .content-talents .buttons-talents img{
        width: auto;
        display: flex;
        flex-direction: column;
    }

    .content-talents .row-talents .detail-talents span{
        font-size: 19px;
        font-weight: 500;
    }

    .content-talents .row-talents .detail-talents p{
        color: #333;
        font-size: 13px;
        font-weight: 300;
    }
    .container-product{
        padding: 0;
        margin: 0;
        
    }
    .product_row{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 200px;
        margin-left: 150px;
    }

    .title-product h1{
        width: 0;
        margin-left: 190px;
       
    }

}

@media(max-width:1000px){
    .content-product{
        width: 45%;
    }
}

@media(max-width:750px){
    .content-product{
        width: 100%;
    }
}

@media (max-width: 1100px){
    .product-nav{
        flex-direction: column;
        width: 90%;
        margin: 5vh 0;
    }

    .product-img-nav{
        width: 100%;
        height: 300px;
    }
    .product-listing-nav{
        width: 100%;
        min-height: auto;
        background: #fff;
    }

}
